<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sen">
    <title>DonateCo</title>
</head>
<body style='
background-image: url("https://c.pxhere.com/photos/07/8c/child_people_baby_human_young_hope_kids_africa-1373033.jpg!d");
 background-attachment: fixed;
 background-repeat:no-repeat;
 background-size:cover;
 font-family:Sen;
 font-size:22px;
'>
<form>
  
      <h1 style='padding: 0px 40px '>DONATE</h1><br>
      <div> <span style='color:darkred; padding:0px 42px; font-size:23px'>Get Started Today....</span> <br><br>
        <span style="font-size:20px; padding: 0px 50px"> -> Help the children </span><br><br>
          <span style="padding:0px 50px; font-size:20px"> -> With So much to consume on such </span><br><br>
               <span style="padding:0px 50px; font-size:20px"> -> little time</span><br><br><br><br><br>
      </div>
      <h style='font-size:25px; color:darkgreen; padding:0px 50px'>Reason of Helping <a style="font-size:18px; color:darkgreen">(Collecting Fund)</a></h><br><br>
           <a style="font-size:20px; padding:0px 52px"> -> Educating the Children</a><br><br>
           <a style="font-size:20px; padding:0px 52px"> -> Blood Camp</a><br><br>
           <a style="font-size:20px; padding:0px 52px"> -> Friendly Volunteer</a><br><br><br>


          <h style='font-size:25px; color:darkgreen;padding:0px 50px'>Popular Causes</h><br><br>
           <a style="font-size:20px; padding:0px 52px"> -> Help us to Send Food</a><br><br>
           <a style="font-size:20px; padding:0px 52px"> -> Clothes For Everyone</a><br><br>
           <a style="font-size:px; padding:0px 52px"> -> Water For All Children</a><br><br>
</form>
</body>
</html>